version: '2.1'
services:
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    image: latest
    entrypoint: ["node", "./bin/index.js", "export_transactions_from_to_address"]
    environment:
      IS_DOCKER: "true"
      NODE_OPTIONS: --max-old-space-size=11264
    volumes:
    - type: bind
      source: /mnt/crypto
      target: /mnt/crypto
    scale: 2

